@use "global" as *;
.mv__main-title {
  // font
  font-family: "Noto Sans JP";
  font-size: rem(28);
  font-weight: $bold;
  letter-spacing: rem(0);
  line-height: 1;
  // decoration
  color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
